.header{
    margin-top: 82px;
    margin-bottom: 73px;
}

.header-logo{

}

.header-logo-img{
    width: 268px;
    margin-top: 13px;
    object-fit: contain;
}

.header-title{
    font-size: 36px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1d1d24;
    margin-top: 24px;
}

.header-article-new{
    text-align: right;
}

.header-article-new-link{

}

.header-article-new-link-img{
    width: 108px;
    object-fit: contain;
}

.article-list{

}

.article-list-item{
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin-bottom: 44px;
}

.article-list-item:hover{
    box-shadow: 0 7px 70px 0 rgba(0, 0, 0, 0.5);
}

.article-list-item-link , .article-list-item-link:hover{
    text-decoration: none;
    color: #1d1d24;
}

.article-list-item-pic{
    width: 100%;
    height: 258px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.article-list-item-title{
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1d1d24;
    padding: 20px 20px 0px 20px;
}

.article-list-item-date{
    font-size: 18px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1d1d24;
    padding: 7px 20px 13px 20px;
}

.article-list-item-preview{
    font-size: 18px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1d1d24;
    padding: 20px;
    border-top: solid 1px rgba(150, 150, 150, 0.56);

    height: 120px;
    margin-bottom: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
}
